
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #92a4b9;
    padding: 15px 0;
}

.box{
    width: 940px;
    position: relative;
    margin: 20px auto;
}

.box img {
    mix-blend-mode: multiply;
}

h2{
    margin: 20px  0 0 50px;
    font-size: 30px;
    font-family: 'Berkshire Swash', cursive;
}

nav{
    position: absolute;
    right: 0;
    top: 125px;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color:#6156c3;
    text-decoration: underline;
}
